

.left-section {
    display: block;
    float:left;
    width: 20%;
    border-left: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
        
    p{
        padding: 20px;
        span {
            font-size: 12px;
        }
        
    }
    
}

.right-section {
    display: block;
    float:right;
    width: 75%;
}


